
.categories .subtitle{
    padding: 2rem 0;
}

.categories .subtitle h4 {
    /* border-bottom: solid 3px var(--red); */
    width: fit-content;
    position: relative;
}

.categories .subtitle h4::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background-color: var(--primary-color);
    box-shadow: 0 0 7px 2px var(--primary-color);
}

.categories{
    padding: 0 var(--default-space);
}

/* Filme Principal */
.highlighted-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5) 100%),url('https://www.themoviedb.org/t/p/w600_and_h900_bestv2/uPt56D7a55ZNn1yJqKWgBHhqJQ3.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: inset 0 0 3rem rgba(0,0,50,0.5);
}

.highlighted-movie .descricao {
    height: 120px;
    margin-top: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlighted-movie .titulo {
    margin-top: 20px;
    font-size: 40px;
    text-transform: uppercase;
}

.highlighted-movie .btn-watch {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 12px;
    text-transform: uppercase;

    cursor: pointer;
    transition: .5s ease all;
}

.highlighted-movie .btn-watch:hover {
    background: linear-gradient(to right, #93291E, #ED213A);
    /* background-color: var(--primary-color); */
    box-shadow: 0 0 5rem 0.5rem var(--primary-color);
}

.highlighted-movie .btn-info {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 12px;
    text-transform: capitalize;

    cursor: pointer;
    transition: .5s ease all;
}

.highlighted-movie .btn-info:hover {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    /* background-color: var(--second-color); */
    box-shadow: 0 0 5rem 0.5rem var(--second-color);
}
.highlighted-movie .btn-info i, .btn-watch i {
    margin-right: var(--default-space-min);
}

.highlighted-movie .container {
    width: 70%;
}

.container {
    margin-left: 1.2rem;
}

.item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.item:hover {
    opacity: 0.8;
}

.item img {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    border-radius: 0.4rem;
}
.item .play-info{
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 35%;
    background-color: rgba(0,0,0, .4);
    opacity: 0;
}

.item .play-info:hover {
    opacity: 1;
}

.item .play-info button {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 0;
    padding: 0;
    background: transparent;
}

.item .play-info button i{
    font-size: 5rem;
    opacity: .3;
}

.item .play-info button[name="btn-watch-item"] i {
    color: var(--primary-color);
}

.item .play-info button[name="btn-info-item"] i {
    color: var(--second-color);
}

.item .play-info button i:hover {
    animation: pulse 1s;
    /* animation-delay: .5s; */
}
