@media screen and (max-width: 700px) {

    /* Limita o tamanho mínimo do body  */
    body {
        min-width: 350px;
        height: 100vh;
    }

    header .container {
        display: flex;
        flex-direction: column;
    }

    header nav {
        padding: .5rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    main .highlighted-movie {
        padding-bottom: 20px;
    }

    main .highlighted-movie .container {
        font-size: 80%;
    }

    #player {
        width: 350px;
        height: 200px;
    }

    .btn-info, .btn-watch {
        margin-top: 8px;
        width: 300px;
    }

    /* .item .play-info{
        width: 80%;
        height: 80%;
    } */

    .item .play-info button {
        width: 30%;
        height: 30%;
    }

    footer .author{
        max-width: 60%;
        text-align: center;
        flex-direction: column;
        font-size: 90%;
    }

    footer .github-link{
        align-self: center;
        padding: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .description {
        width: 50%;
    }
}